body {
	background-color: #7796E2;
	margin: 0;
}

#header {
	margin-top: 5vh;
	height: 25vh;
}

#square {
	background-color: #153E5C;
	width: 25vw;
	height: 100%;
	display: inline-block;
}

#flex {
	float: right;
	height: 100%;
	width: auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	max-width: 95%;
}

#flex img {
	float: right;
	height: 75%;
}

#triangle {
	width: 0;
	height: 0;
	border-top: 25vh solid #153E5C;
	border-right: 10vh solid transparent;
	border-right: calc(3vh + 10 * ((100vw - 310px) / 1000)) solid transparent;
	display: inline-block;
}

#text-box {
	height: 100%;
	width: 50vw;

	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;

	font-size: calc(16pt + 16 * ((100vw - 310px) / 900));
	color: #153E5C;
	font-family: verdana;
}

@media only screen and (max-width: 1600px) {
	#square { width: 30vw; }
}

@media only screen and (max-width: 1200px) {
	#square { width: 40vw; }
	#header { margin-top: 2vh; }
}