body {
	background-color: #7796E2;
	background-image: linear-gradient(#7796E2, #91B0F2);
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

.header {
	margin-top: 5vh;
	height: 25vh;
}

.square {
	background-color: #153E5C;
	width: 25vw;
	height: 100%;
	display: inline-block;
}

.flex {
	float: right;
	height: 100%;
	width: auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	max-width: 95%;
	margin-right: 5px;
}

.flex img {
	float: right;
	height: 75%;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 25vh solid #153E5C;
	border-right: 4vh solid transparent;
	display: inline-block;
}

.text-box {
	height: 100%;
	width: 50vw;

	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;

	font-size: calc(16pt + 16 * ((100vw - 310px) / 900));
	color: #153E5C;
}

.landingBody {
	margin: 0 auto;
	height: 70vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.search {
	z-index: 2;
	width: 40vw;
	margin: 0 auto;
}

input {
	height: 40px;
	float: left;
	width: 90%;
	margin: 10px auto;
	border-radius: 10px;
	border: none;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

	background-color: rgba(255,255,255, 0.75);

	display: block;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;

	-webkit-transition: width 0.1s, height 0.1s;
	-moz-transition: width 0.1s, height 0.1s;
	-o-transition: width 0.1s, height 0.1s;
	transition: width 0.1s, height 0.1s;
}

input:focus {
	width: 97%;
	height: 44px;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
	background-color: rgba(255,255,255, 0.85);
	margin: 6px auto;
	outline: none;
}

#inputSubmit {
	font-family: Verdana, Geneva, sans-serif;
	height: 40px;
	width: 40%;
	float: right;
	margin-top: 6px;
	margin-right: 1%;
	margin-bottom: 5px;

	color: #153E5C;
	background-color: rgba(255,255,255, 0.8);
	font-size: calc(10pt + 8 * ((100vw - 310px) / 900));
	border-radius: 10px;
	border: solid 2px white;

	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

#inputSubmit:hover {
	height: 45px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 0;
	width: 41%;

	-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.loading {
	background-color: rgba(0,0,0,0);
	
	width: 100vw;
	height: 100vh;
	z-index: 1;
	position: fixed;
	left: -100vw;
	top: 0;
	-webkit-transition: background-color 0.6s ease-in-out 0s, left 0s;
	-moz-transition: background-color 0.6s ease-in-out 0s, left 0s;
	-o-transition: background-color 0.6s ease-in-out 0s, left 0s;
	transition: background-color 0.6s ease-in-out 0s, left 0s;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.loading img {
	opacity: 0;
	position: fixed;
	width: 20vw;
	left: 20vw;
	-webkit-transition: left 0.6s ease-in-out 0s, opacity 0.6s;
	-moz-transition: left 0.6s ease-in-out 0s, opacity 0.6s;
	-o-transition: left 0.6s ease-in-out 0s, opacity 0.6s;
	transition: left 0.6s ease-in-out 0s, opacity 0.6s;
}

@media only screen and (max-width: 1600px) {
	.square { width: 30vw; }
}

@media only screen and (max-width: 1200px) {
	.square { width: 40vw; }
	.header { margin-top: 2vh; }
	.search { width: 60vw; }
	.triangle { border-right: 3vh solid transparent; }
}

@media only screen and (max-width: 800px) {
	.search { width: 80vw; }
}