body {
  margin: 0;
}

span {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.25);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.outer:hover { background-color: rgba(0,0,0,0.5); }

.inner {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

a { text-decoration: none; }

p {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: white;
}

.title { font-size: calc(16pt + 20 * ((100vw - 310px) / 1610)); }
.subtext { font-size: calc(8pt + 12 * ((100vw - 310px) / 1610)); }
.outer:hover .title { font-size: calc(22pt + 20 * ((100vw - 310px) / 1610)); }
.outer:hover .subtext { font-size: calc(9pt + 12 * ((100vw - 310px) / 1610)); }

#leftSide { background-color: #90CAF9; }
#rightSide { background-color: #7796E2; }